In [12]:
import pandas as pd

In [5]:
# Series 是由一组数据与一组索引（行索引）组成的数据结构
S1 = pd.Series(["a","b","c","d"])

In [6]:
S1

0    a
1    b
2    c
3    d
dtype: object

In [7]:
S2 = pd.Series([1,2,3,4],index = ["a","b","c","d"])

In [8]:
S2

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
S1.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
S2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
S1.values

array(['a', 'b', 'c', 'd'], dtype=object)

In [12]:
S2.values

array([1, 2, 3, 4], dtype=int64)

In [14]:
# DataFrame是由一组数据与一对索引（行索引和列索引）组成的表格型数据
# 传入一个列表的实现如下
df1 = pd.DataFrame(["a","b","c","d"])

In [15]:
df1

   0
0  a
1  b
2  c
3  d

In [16]:
# 只传入一个单一列表时，该列表的值会显示成一列，且行和列都是从0开始的默认索引
# 传入一个列表
df2 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]])
df2

   0  1
0  a  A
1  b  B
2  c  C
3  d  D

In [18]:
# 传入一个元组
df2 = pd.DataFrame([("a","A"),("b","B"),("c","C","C1"),("d","D")])
df2

   0  1     2
0  a  A  None
1  b  B  None
2  c  C    C1
3  d  D  None

In [19]:
# 可以通过设置columns参数自定义列索引，设置index参数自定义行索引
df3 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]], columns = ["小写","大写"])
df3

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [22]:
df2 = pd.DataFrame([["a","A"],["b","B"],["c","C"],["d","D"]],index = ["一","二","三","四"])
df2

   0  1
一  a  A
二  b  B
三  c  C
四  d  D

In [27]:
# 或者传入一个字典
data = {"小写":["a","b","c","d"],"大写":["A","B","C","D"]}
df41 = pd.DataFrame(data)
df41

  小写 大写
0  a  A
1  b  B
2  c  C
3  d  D

In [28]:
data = {"小写":["a","b","c","d"],"大写":["A","B","C","D"]}
df42 = pd.DataFrame(data,index = ["一","二","三","四"])
df42

  小写 大写
一  a  A
二  b  B
三  c  C
四  d  D

In [31]:
# 利用columns方法获取DataFrame的列索引，index()方法获取DataFrame的行索引
df41.columns

Index(['小写', '大写'], dtype='object')

In [33]:
df42.index

Index(['一', '二', '三', '四'], dtype='object')

In [13]:
# 读取数据：使用pandas模块可以从多种类型的稳健者读取数据read_excel()读取excel表格
data = pd.read_excel('E:/work_files/CiteSpace/citespace_work/Project4_220921/结果/WOS/关键词.xlsx', sheet_name = 0, header = 0)
print(data)

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.